@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
}

::selection {
  background: #7c3aed;
  color: white;
}
.animated-gradient-text {
  background: linear-gradient(
    90deg,
    #a855f7,
    #8b5cf6,
    #22d3ee,
    #a855f7
  );

  background-size: 300% 300%;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
html,
body {
  overflow-x: hidden;
}

.animated-gradient-text {
  background: linear-gradient(
    90deg,
    #ffffff,
    #a855f7,
    #22d3ee,
    #ffffff
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s linear infinite;
}

@keyframes gradientMove {
  to {
    background-position: 300% center;
  }
}